.footer{
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-gap: 2rem;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-small) {
        justify-content: center;
        grid-template-columns: 1 / -1;
        grid-gap: 1rem;

    }
    
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
        font-family: $font-display;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .5s;
    }
    
    &__link:hover,
    &__link:active {
        background-color: rgba($color: #fff, $alpha: 0.05);
        transform: translateX(-0.25rem) translateY(-0.5rem);
        box-shadow: 0.1rem 1rem 2rem rgba(#fff, .125);
        border-radius: 10rem;
    }
}

.copyright {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 6rem;
    text-align: center;
    
}